:root{
    --branco:#FFF;
    --rosa:#F5989d;
    --rosa-claro:#ffC4b2;
    --laranja:#f69679;
    --cinza:#808080;
    --branco-transparente:#FFFFFFAA;
    --rosa-claro-transparente:#ffC4b2AA;
    --preto-transparente:#000000AA;
}